stages:
  - build
  - publish

variables:
  SOURCE_DIR: "$CI_PROJECT_DIR/src/$CI_PROJECT_NAME"
  BUILD_DIR: "$CI_PROJECT_DIR/src/build"
  INSTALL_DIR: "$CI_PROJECT_DIR"

  CUSTOM_REGISTRY: "192.168.0.104:5000"
  CUSTOM_REGISTRY_USERNAME: "oci-username"
  CUSTOM_REGISTRY_PASSWORD: "oci-password"
  IMAGE_NAME: "$CUSTOM_REGISTRY/CommonSoftware/$CI_PROJECT_NAME:$CI_COMMIT_SHA"
  DOCKER_TLS_CERTDIR: ""   # Kaniko 不需要 TLS

cplusplus-build:
  stage: build
  script:
    - mkdir -p $BUILD_DIR
  # - cmake -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR -B $BUILD_DIR -S $SOURCE_DIR
  artifacts:
    paths:
      - bin
      - config
      - doc
      - examples
      - include
      - lib
      - plugins
      - thirdparty
      - tools
      - test
      - scrips
      - README.md
    expire_in: '7 days'

kaniko-publish:
  stage: publish
  image:
    name: $CUSTOM_REGISTRY/kaniko-project/executor:debug
    entrypoint: [""]
  dependencies:
    - cplusplus-build  # 下载前一个 job 的 artifacts
  script:
    - IMAGE_ABSLUTE_NAME_TAG=$(echo "$IMAGE_NAME" | tr '[:upper:]' '[:lower:]')
    # 执行 Kaniko 构建并推送镜像
    - mkdir -p /kaniko/.docker
    - |
      echo "{
        \"auths\": {
          \"$CUSTOM_REGISTRY\": {
            \"username\": \"$REGISTRY_USERNAME\",
            \"password\": \"$REGISTRY_PASSWORD\"
          }
        }
      }" > /kaniko/.docker/config.json
    - /kaniko/executor \
        -context=$INSTALL_DIR \
        --dockerfile=$CI_PROJECT_DIR/Dockerfile \
        --destination=$IMAGE_ABSLUTE_NAME_TAG \
        --cache=true
